*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #092168;
}

#container{
  width:100vh;
  height: 100vh;
  margin:auto;
  margin-top: 20px;
}


#Roma{
 background-image:url('img/Roma.jpg');
}

#Mosca{
  background-image:url('img/Mosca.jpg');
}

#Maldive{
  background-image:url('img/Maldive.jpg');
}

div, .city{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width:500px;
    height:500px;
    background-size: cover;
    background-color: black;
    border: 3px solid white;
    position:relative;
    }

.city .name{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    text-shadow: 2px 2px 3px black;
    /* background-color:rgba(0, 0, 0, 0.5); */
    padding: 10px;
   }
   .style{
    background-color: rgba(0, 0, 0, 0.5);
   }
